.aider*
.env
changelog_env
.vscode
__pycache__/
**/__pycache__/
tests/__pycache__/
/__pycache__
*.cpython-*.pyc

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.env/
.venv/

# IDE-specific files
.idea/

# Miscellaneous Python files
*.so
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS system files
.DS_Store
